/* Specification */
@charset "UTF-8";

/* Loading fonts */
@font-face {
	font-family: "MontserratMedium";
	src: url("../fonts/montserrat/Montserrat-Medium.eot") format("eot"),
		url("../fonts/montserrat/Montserrat-Medium.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype"),
		url("../fonts/montserrat/Montserrat-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "MontserratSemibold";
	src: url("../fonts/montserrat/Montserrat-SemiBold.eot") format("eot"),
		url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"),
		url("../fonts/montserrat/Montserrat-SemiBold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/montserrat/Montserrat-Bold.eot") format("eot"),
	url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"),
	url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
	url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype"),
	url("../fonts/montserrat/Montserrat-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "InterRegular";
	src: url("../fonts/inter/Inter-Regular.eot") format("eot"),
		url("../fonts/inter/Inter-Regular.woff") format("woff"),
		url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
		url("../fonts/inter/Inter-Regular.ttf") format("truetype"),
		url("../fonts/inter/Inter-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "InterMedium";
	src: url("../fonts/inter/Inter-Medium.eot") format("eot"),
		url("../fonts/inter/Inter-Medium.woff") format("woff"),
		url("../fonts/inter/Inter-Medium.woff2") format("woff2"),
		url("../fonts/inter/Inter-Medium.ttf") format("truetype"),
		url("../fonts/inter/Inter-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "InterSemibold";
	src: url("../fonts/inter/Inter-SemiBold.eot") format("eot"),
		url("../fonts/inter/Inter-SemiBold.woff") format("woff"),
		url("../fonts/inter/Inter-SemiBold.woff2") format("woff2"),
		url("../fonts/inter/Inter-SemiBold.ttf") format("truetype"),
		url("../fonts/inter/Inter-SemiBold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "InterBold";
	src: url("../fonts/inter/Inter-Bold.eot") format("eot"),
		url("../fonts/inter/Inter-Bold.woff") format("woff"),
		url("../fonts/inter/Inter-Bold.woff2") format("woff2"),
		url("../fonts/inter/Inter-Bold.ttf") format("truetype"),
		url("../fonts/inter/Inter-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "InikaRegular";
	src: url("../fonts/inika/Inika-Regular.eot") format("eot"),
		url("../fonts/inika/Inika-Regular.woff") format("woff"),
		url("../fonts/inika/Inika-Regular.woff2") format("woff2"),
		url("../fonts/inika/Inika-Regular.ttf") format("truetype"),
		url("../fonts/inika/Inika-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

/* Default setting for body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: auto;
	font-size: 16px;
	color: #083C3F;
	font-family: 'InterRegular', sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

/* Removing external and internal idents */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'MontserratBold', sans-serif;
	color: #083C3F;
}

/* Remove default styliong for all ul, ol and li */
ul, ol, li {
	display: block;
	list-style: none;
}

/* Remove underlining and internal indentation from a element */
a {
	display: block;
	padding: 0;
	text-decoration: none;
}

a:focus {
	text-decoration: none;
	outline: none;
}

/* Inherit the color for all links when hovered over */
a:hover {
	color: inherit;
}

/* Simplifying work with images */
img {
	display: block;
	max-width: 100%;
}

/* Inherit the fonts for inputs and buttons, and remove background and borders */
input, button, textarea, select {
	font: inherit;
	font-family: inherit;
	background: none;
	background-color: transparent;
	outline: 0;
	border: none;
}

/* Remove  all animations and transitions for people who prefer not to use them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.section {
	padding: 120px 0;
}

.section__wrapper {
	background: #C2EDEF;
}

.h2-title {
	font-size: 36px;
	line-height: 1.22em;
	margin-bottom: 24px;
	text-align: center;
}

.h3-title {
	font-size: 30px;
	line-height: 1.27em;
}


.lead__text {
	font-family: "InterRegular";
	font-size: 24px;
	line-height: 1.25em;
	color: #083C3F;
	max-width: 728px;
	margin: 0 auto 48px;
	text-align: center;
}

/* HEADER */

.header {
	background: linear-gradient(rgba(191, 243, 245, 0.75)),
							url("../img/hero-bg.jpg") no-repeat center center/cover;
	padding: 24px 0 120px;
}

.nav__list {
	display: flex;
	gap: 24px;
	border: none;
}

.nav__link {
	font-size: 20px;
	font-family: "MontserratMedium";
	color: #083C3F;
	transition: color 0.3s ease;
}

.nav__link:hover {
	color: #E5F7F8;
	text-shadow: 2px 0px 2px #213a3c66;
	transition: color 0.3s ease, text-shadow 0.3s ease;
}

.contacts__item:not(:last-child) {
	margin-bottom: 16px;
}

.contacts__icon {
	width: 24px;
	height: 24px;
	margin-right: 16px;
}

.contacts__link {
	display: inline-block;
	font-size: 16px;
	font-family: "MontserratBold";
	color: #000000;
	transition: color 0.3s ease;
}

.contacts__link:hover {
	color: #E5F7F8;
	text-shadow: 2px 0px 2px #213a3c66;
	transition: color 0.3s ease, text-shadow 0.3s ease;
}

.offer {
	margin-top: 120px;

}

.offer__title {
	font-family: "MontserratSemibold";
	font-size: 60px;
	line-height: 72px;
	color: #083C3F;
	margin-bottom: 42px;
}

.offer__text {
	font-family: "InterMedium";
	font-size: 20px;
	line-height: 30px;
	color: #083C3F;
	margin-bottom: 42px;
}

.cta-button {
	display: inline-block;
	padding: 16px 48px;
	font-size: 20px;
	line-height: 30px;
	font-family: "InterSemibold";
	color: #E5F7F8;
	background-color: #0E6468;
	border: 2px solid #0E6468;
	border-radius: 50px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
	background-color: transparent;
	color: #0E6468;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.offer__photo {
	width: 100%;
	height: auto;
	border-radius: 20px;
	object-fit: cover;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.offer__image {
	position: relative;
	border-radius: 20px;
}

.offer__image::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background: linear-gradient(135deg, rgba(191, 243, 245, 0.10), rgba(191, 243, 245, 0.2));
}

/* Customer Appeal */

.customer-appeal__title {
	font-family: "MontserratSemibold";
	display: block;
	max-width: 1313px;
	margin: 0 auto;
	font-size: 57px;
	line-height: 1.21em;
	color: #083C3F;
	margin-bottom: 24px;
	text-align: center;
}

/* Our weaving */

.card-our-weaving__list {
	gap: 66px;
}
.card-our-weaving__item {
	max-width: 388px;
	height: 609px;
	background-color: #ffffff;
	border-radius: 20px;
	text-align: center;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-our-weaving__item:hover {
	transform: translateY(-10px);
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
}

.card-our-weaving__image {
	width: 100%;
	height: 352px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

.card-our-weaving__title {
	margin-top: 36px;
}

.card-our-weaving__text {
	font-family: "InterRegular";
	font-size: 16px;
	line-height: 1.78em;
	color: #000;
	padding: 0 32px;
	margin-top: 24px;
}

/* Prices */

.card-prices__list {
	gap: 66px;
}

.card-prices__item {
	width: 388px;
	/* height: 552px; */
	background-color: #ffffff;
	border-radius: 20px;
	/* text-align: center; */
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.card-prices__info {
	padding: 40px;
	text-align: center;
	border-radius: 20px 20px 0 0;
	background: linear-gradient(rgba(191, 243, 245, 0.7)),
			url("../img/img-breyding.jpg") no-repeat center center/cover;
}

.card-prices__info_afro {
	background: linear-gradient(rgba(191, 243, 245, 0.7)),
			url("../img/img-afro.jpg") no-repeat center center/cover;
}

.card-prices__info_senegal {
	background: linear-gradient(rgba(191, 243, 245, 0.7)),
			url("../img/img-senegal.jpg") no-repeat center center/cover;
}

.card-prices__info_zizi {
	background: linear-gradient(rgba(191, 243, 245, 0.7)),
			url("../img/img-zizi.jpg") no-repeat center center/cover;
}

.card-prices__info_pontail {
	background: linear-gradient(rgba(191, 243, 245, 0.7)),
			url("../img/img-poniteyl.jpg") no-repeat center center/cover;
}

.card-prices__text {
	font-family: "InterBold";
	font-size: 40px;
	line-height: 1.65em;
	color: #0E6468;
	margin-top: 16px;
}

.card-prices__button {
	margin-top: 16px;
}

.card-prices__list-description {
	margin: 40px;
}

.card-prices__text-description {
	font-family: "InterRegular";
	font-size: 16px;
	line-height: 1.78em;
	color: #000;
	position: relative;
	padding-left: 40px;
}

.card-prices__item-description:not(:last-of-type) {
	margin-bottom: 16px;
}

.card-prices__text-description::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
	height: 26px;
	background: url(../img/icon-check.png) no-repeat center center/cover;
	display: inline-block;
}

/* About Hairdresser */

.about-hairdresser__wrapper {
	background: linear-gradient(rgba(191, 243, 245, 0.75)),
							url("../img/about-bg.jpg") no-repeat center center/cover;
	border-radius: 20px;
	padding: 40px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.about-hairdresser__title_left {
	text-align: left;
}

.lead__text_left {
	text-align: left;
	margin: 0 0 48px;
}


.about-hairdresser__text{
	width: 620px;
}

.achievements__list {
	margin-bottom: 40px;
}

.achievements__item {
	gap: 16px;
}

.achievements__item:not(:last-child) {
	margin-bottom: 16px;
}


.sertificate__img {
	border-radius: 15px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.about-hairdresser__photo {
	width: 100%;
	height: auto;
	border-radius: 20px;
	object-fit: cover;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}